* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* @font-face {
  font-family: Decotura;
  src: url("/fonts/Decotura-Medium.otf") format('truetype');
} */

.container {
  margin-top: 84px;
  display: block;
  width: 80%;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  gap: 12px;
}

.pokemon-list-item {
  border: #0075BE 5px solid;
  border-radius: 8px;
}

.pokemon-list-item button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f9f9f9;
  font-family: Decotura-medium, sans-serif;
}

body {
  font-family: Decotura;
}

.pokemon-list-item button:hover {
  background-color: #FFDE0070;
}

.nav-image {
  justify-content: center;
}

.button-class {
  background-color: #ffffff;
  border: #3caf50 2px solid;
  color: #3caf50;
  padding: 16px 24px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  margin: 8px;
  border-radius: 8px;
}

.button--red { background-color: tomato; }
.button--green { background-color: lightgreen; }

.button-class:hover {
  background-color: #CFFFD7;
}

.dropdown {
  border: #545454 2px solid;
  padding: 8px 16px;
  border-radius: 8px;
}

.pokemon-list {
  list-style-type: none;
}

@media screen and (min-width: 601px) and (max-width: 760px) {
  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 12px;
  }
}

@media screen and (max-width: 600px) {
  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 12px;
  }
}